* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* ............................ */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  line-height: 50px;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600px;
  border-radius: 24.5px;
  background-color: #171100;
}

/* ............................ */
.main-content {
  width: 1170px;
  max-width: calc(100% - 50px);
  margin-left: auto;
  margin-right: auto;
}
/* ---------------header------------- */
.header {
  background-color: azure;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 20px;
}

.nav a:hover,
.nav li.active a {
  color: rgb(0, 0, 0);
  text-shadow: 1 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 20px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 3px;
  border-radius: 1px;
  background-color: #171100;
}
.header .btn-sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 70px;
}

/* -------img gai---------- xử lí ảnh khác nên code riêng*/
.hero .media-block .avatar {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

/* -------------hero--------- */
.hero {
  padding: 56px;
  background-color: azure;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .content-block {
  height: 52%;
}

.hero .hero-summary {
  width: 320px;
  padding: 24px;
  position: absolute;
  bottom: 30px;
  right: -95px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
}

.hero-summary .ico {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 229, 232);
}
.hero-summary .Marketing {
  background: rgb(243, 243, 182);
}

.hero-summary .info {
  /* display: flex; */
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%;
}
.hero-summary .title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%;
}
/* ------hero right-------- */
.hero .content-block {
  width: calc(100% - 970px);
  margin: 0, 0, auto, auto;
}
